.div {
  background-color: teal;
  color: white;
  font-weight: bold;
  text-align: center;
  width: 150px;
  height: 150px;
}

.rotateX:hover {
  transform: rotateX(150deg);    
}

.rotateY:hover {
  transform: rotateY(150deg);    
}

.rotateZ:hover {
  transform: rotateZ(150deg);    
}
