#linear_gradient1 {
  height: 200px;
  background-color:red;/*If browser doesn't support gradients.*/
  background-image: linear-gradient(red,yellow);
}

#linear_gradient2 {
  height: 200px;
  background-image: linear-gradient(to left,tomato,dodgerblue);    
}

#linear_gradient3 {
  height: 200px;
  background-image: linear-gradient(to top left,violet,teal);    
}

#linear_gradient4 {
  height: 200px;
  background-image: linear-gradient(270deg,aqua,pink); /* 0 top, 90 right, 180 bottom,270(-90) left */ 
}

#linear_gradient5 {
  height: 200px;
  background-image: linear-gradient(to right,red,orange,yellow,green,blue,indigo,violet);
}

#linear_gradient6 {
  height: 200px;
  background-image: linear-gradient(to bottom right,rgba(0,0,255,0),rgba(0,0,255,1));
}

#linear_gradient7 {
  height: 200px;
  background-image: repeating-linear-gradient(45deg,teal 10%,violet,aqua 20%);
}

#radial_gradient1 {
  height:200px;
  background-image: radial-gradient(red,green,blue);
}

#radial_gradient2 {
  height:200px;
  background-image: radial-gradient(red 10%,green 50%,blue);
}

#radial_gradient3 {
  height: 200px;
  background-image: radial-gradient(circle,black,rgb(22, 117, 117),rgb(7, 64, 129));
}

#conic_gradient1 {
  height: 200px;
  width:200px;
  background-image: conic-gradient(red,green,blue,yellow,black);
}

#conic_gradient2 {
  height: 200px;
  width:200px;
  background-image: conic-gradient(red 30deg,green 75deg,blue 180deg);
  border-radius:50%;
}

#conic_gradient3 {
  height: 200px;
  width:200px;
  background-image: conic-gradient(from 90deg,red 30deg,green 75deg,blue 180deg);
  border-radius:50%;
}

#conic_gradient4 {
  height: 200px;
  width:200px;
  background-image: conic-gradient(at 60% 45%,red,green,blue);
  border-radius:50%;
}






