div.style1 {
    background-color: lightgrey;
    border: thick tomato solid;
    padding: 25px;
    margin:25px;
    max-width: 500px;
    box-sizing: border-box;
    outline: 15px dodgerblue dashed;
    outline-offset: 10px;
    float: left;
}

div.style2 {
    background-color: lightgrey;
    border: thick seashell solid;
    padding: 25px;
    margin:25px;
    max-width: 500px;
    box-sizing: border-box;
    outline: 12px seagreen dotted;
    float: right;
}
